@font-face {
    font-family: Beleren;
    src: url(/Fontes/typeface-beleren-bold-master/Beleren2016-Bold.woff)
}

.menu {
    background-color: goldenrod;
}

/* Navbar */
.tabs {
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
/* Botões da navbar */
.tabs li {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    color: rgb(77, 77, 77);
}
  
/* Botão ao passar com o cursor */
.tabs li:hover {
    color: black;
}
  
/* Botão ativo */
.tabs li.active {
    color: black;
}

body {
    background-color: rgb(77, 77, 77);
    color: goldenrod;
    font-family: Beleren;
}

html, body {
    margin:0;
    padding:0;
}

.btnMobile {
    display: none;
}


@media(max-width:757px){
    .btnMobile {
        display: block;
    }
    .tabs{
        display: none;
    }
}