@font-face {
    font-family: Beleren;
    src: url(/Fontes/typeface-beleren-bold-master/Beleren2016-Bold.woff)
}

/* Navbar */
.tabs {
    overflow: hidden;
    border: 1px solid goldenrod;
    background-color: rgb(77, 77, 77);
}
  
/* Botões da navbar */
.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: goldenrod;
}
  
/* Botão ao passar com o cursor */
.tabs button:hover {
    background-color: goldenrod;
    color: black;
}
  
/* Botão ativo */
.tabs button.active {
    background-color: goldenrod;
    color: black;
}

body {
    background-color: rgb(77, 77, 77);
    color: goldenrod;
    font-family: Beleren;
}