@font-face {
    font-family: Beleren;
    src: url(/Fontes/typeface-beleren-bold-master/Beleren2016-Bold.woff)
}

#nav {
    background-color: goldenrod;
}

/* Navbar */
.tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
/* Botões da navbar */
.tabs li {
    cursor: pointer;
    padding: 14px 16px 14px 0px;
    color: rgb(77, 77, 77);
}
  
/* Botão ao passar com o cursor */
.tabs li:hover, select:hover {
    color: black;
}

::selection{
    color: black;
    background-color: goldenrod;
}
  
/* Botão ativo */
.tabs li.active {
    color: black;
}

body {
    background-color: rgb(77, 77, 77);
    color: goldenrod;
    font-family: Beleren;
    padding: none;
    margin: none;
}

select, option {
    background-color: goldenrod;
    color: rgb(77, 77, 77);
    font-family: Beleren;
    outline: none;
    font-size: medium;
    border-style: none;
    appearance: none;
}

input {
    width: 50px;
    height: 30px;
    font-family: Beleren;
    font-size: medium;
    text-align: center;
}

input.iptNRC {
    width: 150px;
    height: 30px;
    text-align: start;
}

label {
    display: inline-block;
    width: 140px;
}

input::-webkit-inner-spin-button {
    appearance: none;
}

textarea {
    display: block;
    font-family: Beleren;
    font-size: medium;
    width: 80%;
    height: 100px;
} 

textarea.FeS {
    width: 80%;
    height:60%;
    margin-bottom: 20%;
} 

#btnMobile, #btnCheck {
    display: none;
}

@media(max-width:412px){
    #nav {
        overflow: hidden;
        margin: 0;
        top: 0;
        width: 100%;
        height: 6%;
        position: fixed;
        border-bottom: 2px solid black;
    }

    #btnMobile {
        display: flex;
        float: right;
        border: none;
        outline: none;
        padding: 3% 1%;
        color: black;
        background: none;
    }

    #hamburguer {
        border-top: 3px solid;
        width: 20px;
    }
    #hamburguer::after, #hamburguer::before {
        content: '';
        display: flex;
        border-top: 3px solid;
        width: 20px;
        height: 2px;
        margin-top: 5px;
    }

    .tabs {
        display: block;
        position: absolute;
        background-color: goldenrod;
        top: 45px;
        left: 35%;
        height: 0vh;
        width: 65%;
        visibility: hidden;
        overflow: hidden;
        transition: .6s;
        border-left: 2px solid black;
    }

    .tabs li {
        margin: 0 1rem;
        padding: 1rem 0;
        border-bottom: 2px solid black;
        font-size: larger;
    }

    .tabs select {
        margin: 0 1rem;
        padding: 1rem 0;
        border-bottom: 2px solid black;
        width: 235px;
        font-size: larger;

    }
    .tabs option {
        font-size: large;
    }


    #nav.active .tabs {
        display: block;
        height: 100%;
        visibility: visible;
        position: fixed;
    }

    #content {
        padding-top: 10%;
    }

    #main.active #mainContent {
        pointer-events: none;
    }
    #main.active #mainContent input {
        background-color: rgba(200, 200, 200);
    }

    .atb1, .atb2 {
        display: inline-flex;
        gap: 5%;   
    }
    .atb1 label{
        width: 40px;
    }
    .atb2 label{
        width: 11px;
    }
    .atb2 input {
        margin-left: 20px;
    }
    .atb2 input#charINT {
        margin-left: 20.25px;
    }
    .atb2 input#charFE {
        margin-left: 18.5px;
    }

    #mobr1c2 {
        gap: 5%;
    }

    textarea, textarea.FeS {
        width: 100%;
    }
    textarea#charPOt {
        margin-bottom: 25px;
    }
}